/** reset de elementos **/
/** hace que las cajas no tengan margen ni padding por default **/
html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit; /** reset de fuentes y tamaños de headings y parrafos **/
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/** variables **/
:root {
  /** colores **/
  --white: #f4f9f9;
  --black: #0d0d0d;
  --yellow: #fecf10;
  --orange: #f8481d;
  --dark-blue: #024959;
  --medium-blue: #0387a5;
  --light-blue: #c1dff1;
}

.heading-large {
  font-size: 3.688rem;
  line-height: 1;
}

.heading-medium {
  font-size: 2.25rem;
  line-height: 1;
}

.heading-small {
  font-size: 1.375rem;
  line-height: 1;
}

.body-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 1rem;
  overflow: hidden;

  view-timeline-name: --content;
  view-timeline-axis: block;
  animation-timeline: --content;
  animation-name: fadeIn;
  animation-range: entry 5% cover 30%;
  animation-fill-mode: both;
}

.padding-block {
  padding-block: 2rem;
}

/** keyframes **/

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 90%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 51%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/** componentes reutilizables **/

/** boton cta **/

.button {
  color: var(--white);
  background-color: var(--orange);
  padding: 1rem 2rem;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.063rem;
  transform: 500ms;
}

.button:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--yellow);
  /*box-shadow: 0 0 0.2rem 0.063rem var(--yellow);*/
}

/** secciones **/

/** header **/

#header {
  background-color: var(--black);
}

.nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);

  --menu-icon: url("./assets/menubars.svg");
  --menu-pointer: none;
  --menu-opacity: 0;
}

.nav:has([id="menu"]:checked) {
  --menu-icon: url("./assets/xmark.svg");
  --menu-pointer: unset;
  --menu-opacity: 1;
}

.nav__logo {
  width: 40%;
  max-width: 8rem;
}

.nav__img {
  width: 100%;
}

.nav__menu {
  position: absolute;
  top: 6rem;
  inset-inline: 0;
  padding: 5%;
  background-color: var(--black);
  pointer-events: var(--menu-pointer);
  opacity: var(--menu-opacity);
  transition: 1000ms opacity;
}

.nav__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav__link {
  color: var(--yellow);
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__label {
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: var(--menu-icon);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: background-image 150ms;
}

[id="menu"] {
  display: none;
}

/** hero **/
#hero {
  background-color: #0d0d0d;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url("/assets/heroimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__logo {
  width: 12rem;
  animation: float 3000ms ease-in-out infinite;
}

.hero__img {
  width: 100%;
  background-color: var(--white);
  border-radius: 500px;
}

.hero__title {
  text-align: center;
  color: var(--white);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
  font-size: 1.25rem;
}

.hero__columns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.hero__icon {
  color: var(--yellow);
  font-size: 1.875rem;
}

/** details **/

#details {
  background: url("./assets/detailssvg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#details .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.details__title {
  text-align: center;
}

.details__columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.details__list {
  color: var(--dark-blue);
  font-weight: bold;
}

/** services **/
#services {
  background-color: var(--white);
}

#services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.services__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

/* experimente con una animacion de olas dentro del texto
.border {
  position: absolute;
  color: var(--black);
  text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black),
    1px 1px 0 var(--black), -1px 1px 0 var(--black);
}

.wave {
  position: absolute;
  color: #09f;
  animation: wave 4000ms ease-in-out infinite;
}
*/

.services__card {
  text-align: center;
}

.card__title {
  background-color: var(--medium-blue);
  color: var(--white);
  padding-block: 0.5rem;
  transition: 100ms;
}

.card__content {
  padding-inline: 1rem;
  padding-bottom: 4rem;
  box-shadow: inset 0 0 0 0.25rem var(--medium-blue);
  transition: 100ms;
}

.card__price {
  color: var(--orange);
  font-size: 1.375rem;
  padding-block: 1rem;
}

.card__paragraphs > p {
  padding-block: 0.5rem;
  font-size: 0.875rem;
}

.services__card:hover {
  cursor: pointer;
  animation: float 2000ms ease-in-out infinite;

  .card__title {
    background-color: var(--yellow);
    color: var(--black);
  }

  .card__content {
    background-color: var(--black);
    color: var(--white);
    box-shadow: inset 0 0 0 0.25rem var(--yellow);
  }

  .card__price {
    color: var(--yellow);
    transition: 600ms;
    transform: rotateY(360deg);
  }
}

#services__bottom {
  background-color: var(--black);
}

.bottom__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;
  color: var(--white);
}

.bottom__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

/** about **/

#about {
  background-color: var(--white);
}

#about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about__figure {
  max-width: 500px;
  margin: 0 auto;
}

.about__image {
  width: 100%;
}

.about-title {
  text-align: center;
  margin-bottom: 2rem;
}

/** contact **/
#footer {
  background-color: var(--black);
}

#footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--white);
}
.footer__icon {
  color: var(--yellow);
  font-size: 3.125rem;
}

.footer__columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.up__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  position: sticky;
  top: 90%;
  left: 90%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  z-index: 500;
  background-color: var(--black);
  border-radius: 50%;
}

.up__icon {
  color: var(--white);
}

.up__button:hover {
  animation: float 1000ms ease-in-out infinite;
  cursor: pointer;
}

@media (width > 50em) {
  .container {
    padding: 4rem;
  }

  .even-columns > * {
    flex-basis: 100%;
  }

  .nav {
    height: 7.5rem;
    --menu-pointer: unset;
    --menu-opacity: 1;
  }

  .nav__menu {
    position: static;
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links {
    margin-left: auto;
    flex-direction: row;
    gap: 2rem;
  }

  .nav__label {
    display: none;
  }

  .services__cards {
    display: flex;
    gap: 1rem;
  }

  .bottom__container {
    display: flex;
    flex-direction: row;
  }

  .details__columns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .details__list {
    flex-basis: 60%;
  }

  #about .container {
    flex-direction: row;
  }

  .about__columns {
    flex-basis: 100%;
  }

  .about__figure {
    width: 90%;
  }

  .about__image {
    width: 100%;
  }

  .footer__columns {
    flex-direction: row;
    gap: 4rem;
  }
}
